<settings>
    <servers>
        <server>
            <id>github</id>
            <username>${MAVEN_GITHUB_USERNAME}</username>
            <password>${MAVEN_GITHUB_PASSWORD}</password>
        </server>
    </servers>

    <profiles>
        <profile>
            <id>github</id>
            <repositories>
                <repository>
                    <id>github</id>
                    <url>https://maven.pkg.github.com/mattkds/*</url>
                    <snapshots>
                        <enabled>true</enabled>
                    </snapshots>
                </repository>
            </repositories>
        </profile>
    </profiles>

    <activeProfiles>
        <activeProfile>github</activeProfile>
    </activeProfiles>
</settings>